$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.top-margin {
  margin: 4.0em auto 0 auto;
  min-height: 20em;
  height: 20em;
}

.navbar .brand {
	float: right
}

.small-margin {
  margin: 1em auto 0 auto;
}

.well {
	overflow: auto;
	white-space: nowrap;
}
.start, .end {
	vertical-align: top;
	display: inline-block;
	margin: 0.25em 1em 2px 0;
}
.icon {
	vertical-align: top;
	display: inline-block;
	margin: 0.25em 0 2px 0;
	width: 1em;
}
.text{
	display: inline-block;
	margin: 0.25em 0 2px 0;
}
.playback.well {
	background-color: #111;
	height: 7em;
}
.timer {
	vertical-align: middle;
	font-size: 1.5em;
	display: inline-block;
	margin: 0.7em 1em 0 1em;
	color: #0B0;
}
.play-text {
	vertical-align: top;
	display: inline-block;
	font-size: 1.4em;
	line-height: 1.5;
	color: #ffe600;
}
.player .controls {
	vertical-align: top;
	display: inline-block;
}
.text {
	color: #aaa;
}
.selected {
	color: #000;
}
.workarea h1 {
	max-width: 6em;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
/* Copyright (c) 2012 Dan Eden Animate.css - http://daneden.me/animate Licensed under the ☺ license (http://licence.visualidiot.com/) */

@-webkit-keyframes swing {
	20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }
	20% { -webkit-transform: rotate(15deg); opacity:0;}	
	40% { -webkit-transform: rotate(-10deg); }
	60% { -webkit-transform: rotate(5deg); }	
	80% { -webkit-transform: rotate(-5deg); }	
	100% { -webkit-transform: rotate(0deg); opacity:1;}
}

@-moz-keyframes swing {
	20% { -moz-transform: rotate(15deg); opacity:0;}	
	40% { -moz-transform: rotate(-10deg); }
	60% { -moz-transform: rotate(5deg); }	
	80% { -moz-transform: rotate(-5deg); }	
	100% { -moz-transform: rotate(0deg); opacity:1;}
}

@-o-keyframes swing {
	20% { -o-transform: rotate(15deg); opacity:0;}	
	40% { -o-transform: rotate(-10deg); }
	60% { -o-transform: rotate(5deg); }	
	80% { -o-transform: rotate(-5deg); }	
	100% { -o-transform: rotate(0deg); opacity:1;}
}

@keyframes swing {
	20% { transform: rotate(15deg); opacity:0;}	
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }	
	80% { transform: rotate(-5deg); }	
	100% { transform: rotate(0deg); opacity:1;}
}
.swing {
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	-moz-animation-name: swing;
	-o-animation-name: swing;
	animation-name: swing;
}
.animate0{
   	-webkit-animation-duration: .5s;
	-webkit-animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: .5s;
	-moz-animation-delay: 0s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: .5s;
	-ms-animation-delay: 0s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: .5s;
	animation-delay: 0s;
	animation-timing-function: ease;
	animation-fill-mode: both;	          
}   
