$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.top-margin {
  margin: 4.0em auto 0 auto;
  min-height: 20em;
  height: 20em;
}

.navbar .brand {
	float: right
}

.small-margin {
  margin: 1em auto 0 auto;
}

.well {
	overflow: auto;
	white-space: nowrap;
}
.start, .end {
	vertical-align: top;
	display: inline-block;
	margin: 0.25em 1em 2px 0;
}
.icon {
	vertical-align: top;
	display: inline-block;
	margin: 0.25em 0 2px 0;
	width: 1em;
}
.text{
	display: inline-block;
	margin: 0.25em 0 2px 0;
}
.playback.well {
	background-color: #111;
	height: 7em;
}
.timer {
	vertical-align: middle;
	font-size: 1.5em;
	display: inline-block;
	margin: 0.7em 1em 0 1em;
	color: #0B0;
}
.play-text {
	vertical-align: top;
	display: inline-block;
	font-size: 1.4em;
	line-height: 1.5;
	color: #ffe600;
}
.player .controls {
	vertical-align: top;
	display: inline-block;
}
.text {
	color: #aaa;
}
.selected {
	color: #000;
}
