$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.top-margin {
  margin: 4.0em auto 0 auto;
  min-height: 20em;
  height: 20em;
}

.navbar .brand {
	float: right
}

.small-margin {
  margin: 1em auto 0 auto;
}

.well {
	overflow: auto;
	white-space: nowrap;
}
